[Unit]
Description=Vocademy Backend (FastAPI + Static)
After=network.target

[Service]
WorkingDirectory=/home/pi/projects/Vocademy/backend
ExecStart=/home/pi/projects/Vocademy/backend/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port port
User=pi
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
